@import '@fontsource/fira-mono';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Mono', monospace;
}

:root {
	--primary-color: #ff3e00;
	--secondary-color: #1e1e1e;
}

input:-webkit-autofill {
	background-color: transparent !important;
	box-shadow: 0 0 0 50px white inset;
}

a {
	text-decoration: none;
	color: inherit;
}
